body {
	padding-top: 50px;
  -webkit-text-size-adjust: none;
  font-size: 24px;
  line-height: 1.9;
  font-family: serif;

}

h1 {
	text-align: center;
}

.photo {
  margin-top: 20px;
  margin-bottom: 20px;
  /*display: table-cell;*/
  text-align: middle;
  width: 100%;

 
}

/* Magnets */

.container {
  /*width: 75%;*/
  margin: 2em auto;
}

p {
  font-size: 24px!important
  margin-bottom: 24px
}

p span {
  line-height: 2;
  display: inline-block;
  margin: 4px 4px 8px 20px;
  background-color: #efefef;
  padding: 4px;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 1);
  box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 1);

}

.small {
  padding: .4em .25em;
  margin-right: 2px;

}

.punct {
  padding: .4em .15em;
}

.up {
  transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
}

.upabit {
  transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
}

.down {
  transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -webkit-transform: rotate(6deg);
}

.downabit {
  transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
}

.small.down,
.small.up,
.small.upabit,
.small.downabit {
  margin-right: 4px;
}

.higher {
  position: relative;
  top: -4px;
}

.lower {
  position: relative;
  top: 3px;
}

.leftabit {
  position: relative;
  left: -4px;
}

.rightabit {
  position: relative;
  left: 3px;
}

/* Canvas */
.fridge {
  /*padding-left: 50px;*/
  height: 500px;
	/*background-image: url('/bluetexture.png'); */
  margin-top: 20px;
	  

}

button {
	display: block;
    margin: 0 auto;
	text-align: center;
}

