<div ng-controller="CreateCtrl">
	<div class = "col-sm-12 create">
		<h1> Write a poem! </h1>
		
		<div class="container col-sm-3" ng-model = "list1">
			
			<p class = "words col-sm-12">		    	
				<span class = "animated rollIn" ng-repeat = "word in list1 track by $index" ng-class-odd="'up'" ng-class-even="'down'" data-drag="true" data-jqyoui-options="{revert: 'false'}" ng-model="word" jqyoui-draggable="{animate:false}" ng-hide="!word" ng-if="word"> {{word}}</span>

			</p>
			
			<button class="btn btn-primary col-sm-6 col-sm-offset-2" type="button" ng-click="refresh(20)" value="Refresh">MORE WORDS</button> 
		</div> 
		
		
		
		<div class = "fridge col-sm-7" data-drop="true" data-jqyoui-options ng-model = "list2" jqyoui-droppable>

			<p class = "words2 col-sm-12">
				<span ng-class-odd="'up'" ng-class-even="'down'"  my-draggable ng-repeat = "word in list2 track by $index"  data-drag="false" data-jqyoui-options ng-model="word" jqyoui-draggable ng-hide="!word">{{word}}
				</span>
			</p>
			
			
		</div>		
		
	</div>
</div> 

<div ng-controller="SaveCtrl">
	 


	
	<div class = "col-sm-8 col-sm-offset-4">
       <h4> Poet Name <input type="text" ng-model="name"> </input>  </h4>
      <button ng-click="addImage()" class = "addToDbbtn btn-primary col-sm-4 col-sm-offset-1">Save Poem</button>
   
	</div>
</div>





